//
//  Mobile + Desktop
//  _____________________________________________

& when (@media-common = true) {
  .category {
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 10px;
    margin-bottom: 10px;
    .item-category {
      position: relative;
      img {
        width: 100%;
        height: 225px;
        object-fit: cover;
      }
      a {
        position: absolute;
        transform: translate(-50%, -50%);
        color: white;
        top: 50%;
        left: 50%;
        text-transform: uppercase;
        font-size: 30px;
        font-weight: bolder;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break)
  when
  (@extremum = "min")
  and
  (@break = @screen__m) {
  .category {
    display: grid;
  }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break)
  when
  (@extremum = "max")
  and
  (@break = @screen__m) {
  .category {
    display: block;
  }
}
