
.home-page-owl-carousel{
	.item{
		position: relative;
		.item-content{
			position: absolute;
			top: 33%;
			left: 18%;
			transform: rotate(-7deg);  
			font-family: @font-family__caveat;
			text-transform: uppercase;
			text-align: center;  	
		}
		p{
			font-size: 73px;
			line-height: 60px;
			.lib-css(color, @color-white);
		}
		a{
			font-size: 30px;
			line-height: 0px;
			cursor: pointer;
			.lib-css(color, @color__link-red);
		}
	}
}

